<div >

    <div class="carousel-item active">
    <img alt="..." class="d-block w-100" src="https://www.mansory.com/sites/default/files/styles/1170_x_full_box_image/public/2023-08/1_3.jpg?itok=QFqcBBXI">
				<div class="carousel-caption">
					<h5>Your Dream Car</h5>
					<h1>Fuel Your Wanderlust, Rent with Us</h1>
					<p><a class="rent-btn btn btn-primary mt-3" href="<%= cars_path %>">Rent a car</a></p>



				</div>
			</div>

  </div>
